@model Vidly2.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li><p>Membership Type: @Model.MembershipType.Name </p> </li>
    @if (Model.Birthdate.HasValue)
    {
        <li><p>Birthdate: @Model.Birthdate </p> </li>
    }
</ul>

